.container {
    background-color: black;
}

.recording-stared {
    height: 60px;
    position: relative;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
}

.main-div {
    position: relative;
    // margin-top: 60px;
}

// .recording-stared:first-child {
//     margin-right: 10px;
// }
.stop-icon {
    position: absolute;
    width: 104px;
    height: 50px;
    background: black;
    border-radius: 25px;
    left: 4px;
    top: 9px;
}

.duration-progress {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.mdc-icon-button.large {

    width: 48px;
    height: 48px;
    line-height: 48px;
    background: rgb(0, 51, 102);
    background: linear-gradient(159deg, rgba(0, 51, 102, 1) 0%, rgba(15, 82, 186, 1) 100%);
    color: white;

    .mat-icon {
        font-size: 34px;
        width: 36px;
        height: 36px;
        line-height: 36px;
    }
}
.button-div button {
    margin: 10px 4px;
}

p {
  font-family: Lato;
}
.waveform {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.btn-group {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  display: block;
  margin-top: 40px;
  z-index: 100;
  border: 8px solid #fff;
  border-radius: 6px;
  padding: 0px;
}
